.score {
  color: white;
  position: relative;
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 30%;
  display: inline-block;

  .correct {
    color: #28ef28;
    display: inline-block;
  }

  .incorrect {
    color: #ff1414;
    display: inline-block;
  }
}
