.app {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url("../public/images/background.jpg");
    opacity: 0.7;
  }
}
